:root {
    --primary-color: #6366f1;
    --dark-gray:#94a3b8;
    --off-white:#F3F4F6;
}
body {

    font-family: 'Arvo', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/**conatiner**/

.container{
    padding-left : 1em;
    padding-right : 1em;
}

.container-center{
    margin : auto;
    max-width:600px;
}

hr{
    margin: 2rem 0;
}

/**Links**/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}

.link-secondary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);
}

.list-nobullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding:0 1em;
}

.navigation{
    background-color: var(--primary-color);
    color:white;
    border-bottom-left-radius: 1em;
    padding: 0.5em 0;
    margin-top: 0; 
}

.navigation .navbrand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .navpills{
    text-align: right;
}

.navigation .link{
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}

.hero{
    padding: 2rem;
}

.hero .hero-img{
    margin: auto;
    max-width: 350px;
    display: block;
    padding: 1em;
}

.hero .hero-heading{
    color:var(--primary-color);
    text-align: center;
}

.hero .hero-tagline{
    text-align: center;
    display: block;
    margin-bottom:5px;
    padding-right:10px;

}

.intro{
    padding:10px;
    text-align: center;
}

.reach{
    display: block;
    text-align: center;
}

.skills{
    width:600px;
    display:flex;
    padding:20px;
    border:1px;
    align-content:space-around;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
}
.section h1{
    text-align: center;
}

.section{
    padding:1em;
}

.ow{
    background-color: var(--off-white);
}

.projects{
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px 20px;
    row-gap:10px ;
    column-gap: 20px;
}

.screenshots{
    width:320px;
    border-radius: 0.5em;
}

.screenshots:hover{
    color:transparent;
}

.footer{
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 1rem ;
    text-align: center;
    border-top-right-radius: 1em;
}

.footer .link {
    color: white;
}

.footer ul{
    padding-inline-start: 0;
}